@model Blip.Models.FeedViewModel

@{
    ViewBag.Title = "Feed";
}


<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script>

    function OnSuccess() {
        alert("succeeded");
    }

    function OnFailure() {
        alert("oops it failed");
    }

    
    var feedCount = 0;
 
</script>
<style type="text/css">
    img.avatar{
        width: 50pt;
        height:70pt; 
    }

    .handle{
        color: cornflowerblue;
        font-weight: normal;
    }
    #updates{
        color: red;
        
    }
        /* Some custom styles to beautify this example */
    .main-content {
        min-height: 70px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .sidebar-content {
        margin-bottom: 10px;
        max-width: 150px;
    }

    .main-content-o {
        min-height: 330px;
        background: #dbdfe5;
    }

    .sidebar-content-o {
        min-height: 150px;
        margin-bottom: 30px;
        background: #b4bac0;
    }

    .feed-item{
        margin: 10px;
        border: solid;
        border-width: 1;
        border-color: gainsboro;
    }

</style>

<div >
    @Html.ActionLink("New Bleeps", "Feed", "BlipUser", new { @class = "", @id="updates" })
    <!--a href="." id="updates">Updates</!--a></div-->
<div id="errordiv">...</div>

<div class="row">
    <div class="col-lg-2">
        <img class="avatar" src="~/Content/Images/@Model.User.Avatar" />
        <p class="handle">@Model.User.UserName</p>
    </div>
</div>


    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-sm-6">
                @Html.TextAreaFor(x => x.Message, 4, 40, null)
            </div>

        </div>
        <div class="row">
            <div class="col-sm-6">
                <input type="submit" value="Submit" class="btn btn-default form-control" />
            </div>
        </div>
    }


<div class="feed container">

    @foreach (var item in Model.Feed)
    {

        <div class="row feed-item">
            @{
                var imgPath = "/Content/Images/" + item.Avatar;
                var userName = "@" + @item.UserName;
            }
            <div class="col-sm-1">
                <div class="main-content">
                    <img src="@imgPath" class="avatar" />
                </div>
            </div>

            <div class="col-sm-3 col-sm-offset-1">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="sidebar-content handle">
                            @userName  
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="sidebar-content">
                            @Html.DisplayFor(modelItem => item.Comment)
                        </div>
                    </div>
                </div>
            </div>
        </div>


    }

</div>

<script>


    function refreshPage() {
        $.ajax({
            url: "/blipapi/feedcount",
            type: 'GET',
            dataType: 'json',
            success: function (data) {

                //$('#errordiv').html("success " + data.FeedCount);
                if (data.FeedCount > feedCount) {

                    //first time it's going to be zero
                    if (feedCount === 0) {
                        feedCount = data.FeedCount;
                        $('#updates').hide();
                    }
                    else {
                        $('#updates').html('New Bleeps ' + (data.FeedCount - feedCount));
                        $('#updates').show();

                    }

                }                
            },
            error: function (x, y, z) {
                //alert('x:' + x + ' y: ' + y + ' z:' + z);
                $('#errordiv').html("error occurred" + x + " " + y + " " + z);
            }
        });
    }

    setInterval(refreshPage, 2000);
</script>

